@font-face {
  font-family: 'Roboto Mono';
  /* stylelint-disable-next-line */
  src: url('../Fonts/Roboto_Mono/static/RobotoMono-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url('../Fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rhodium_libre';
  src: url('../Fonts/Rhodium_Libre/RhodiumLibre-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

header {
  background-color: red;
}

.header {
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  color: white;
  font-size: 0.8em;
  font-family: 'Roboto Mono', sans-serif;
}

.header-text {
  width: 310px;
  min-width: 320px;
}

.header-anchors {
  width: 100px;
  color: white;
  text-decoration-line: none;
}

.intro-text {
  width: 100vw;
  color: red;
  font-size: 1.5em;
  font-family: 'Rhodium_libre', sans-serif;
  padding: 30px 30px 0;
}

.landing-page-row {
  justify-content: center;
  text-align: center;
}

.landing-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: left;
  width: 450px;
}

.landing-inputs {
  display: block;
  margin: 15px 50px 0;
  flex-basis: 100%;
}

.edit-form {
  margin: 4px 20px 20px;
}

.flex-select {
  display: flex;
}

.edit-input {
  display: block;
  margin: 5px 0;
  font-size: 2em;
  width: 100%;
}

.edit-select {
  display: inline;
  margin-top: 2px;
  margin-bottom: 5px;
  width: 100%;
  font-size: 1.3em;
  height: 25px;
}

.edit-form-label {
  font-size: 14px;
  margin-top: 6px;
  min-width: 130px;
}

.form-page,
.short-row,
.edit-page {
  position: relative;
  margin: 30px 100px 30px 30px;
  box-shadow:
    0 -25px 20px -20px rgba(0, 0, 0, 0.3),
    25px 0 20px -20px rgba(0, 0, 0, 0.3),
    0 25px 20px -20px rgba(0, 0, 0, 0.3),
    -25px 0 20px -20px rgba(0, 0, 0, 0.3);
}

.entries-page {
  position: relative;
  margin: 30px 100px 0 30px;
}

.short-row {
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
  height: 50%;
}

.image {
  width: 108%;
}

.image-container {
  margin: 20px;
  height: 95%;
}

.textual {
  margin: 20px;
}

.short-row h1 {
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Limits the text to 3 lines */
  overflow: hidden;
}

.form-page h1 {
  min-height: 81px;
}

.button {
  background-color: red;
  font-family: Roboto, sans-serif;
  color: white;
  border-radius: 6px;
  border-color: red;
  padding: 5px 4px;
}

.buttonpos1 {
  position: absolute;
  width: 86px;
  font-size: 12px;
  top: 0;
  right: -100px;
  cursor: pointer;
}

.buttonpos2 {
  position: absolute;
  width: 86px;
  font-size: 12px;
  top: 40px;
  right: -100px;
  cursor: pointer;
}

.buttonpos3 {
  position: absolute;
  width: 86px;
  font-size: 12px;
  top: 80px;
  right: -100px;
  cursor: pointer;
}

.green {
  background-color: rgb(25, 158, 96);
  border-color: rgb(25, 158, 96);
}

.blue {
  background-color: rgb(97, 97, 221);
  border-color: rgb(97, 97, 221);
}

.loading {
  text-align: center;
  padding-top: 20vh;
  color: red;
  font-size: 20px;
}

.short-paragraph {
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 11;
  margin-bottom: 0;
}

.no-entries {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.edit-icon {
  display: flex;
  color: black;
  font-size: 20px;
  justify-content: right;
  cursor: pointer;
}

.edit-form-heading {
  height: 104px;
}

#delete-modal {
  border-color: red;
  border-radius: 10px;
  color: black;
}

.cancel-confirm {
  display: flex;
  justify-content: space-around;
}

.modal-buttons {
  background-color: red;
  color: white;
  border-radius: 4px;
  border-color: red;
}

.form-page p,
.edit-form p {
  margin-bottom: 35px;
}

@media screen and (max-width: 767px) {
  .form-page,
  .entries-page,
  .edit-page,
  .short-row {
    width: 100%;
    max-width: 100%;
    margin: 60px auto;
  }

  .image {
    width: 100%;
  }

  .short-row > .column-half {
    width: 100%;
  }

  .buttonpos1 {
    left: 10px;
    top: -40px;
  }

  .buttonpos2 {
    left: 100px;
    top: -40px;
    right: auto;
  }

  .buttonpos3 {
    width: 85px;
    left: 190px;
    top: -40px;
    right: auto;
  }

  .short-paragraph {
    -webkit-line-clamp: 8;
  }
}

@media screen and (max-width: 442px) {
  .header {
    font-size: 2.5vw;
  }

  .header-text {
    width: 70vw;
    min-width: 70vw;
  }

  .landing-page-row {
    width: 90vw;
  }
}

@media screen and (max-width: 424px) {
  .short-paragraph {
    -webkit-line-clamp: 6;
  }
}
