@font-face {
  font-family: 'Roboto Mono';
  src: url('../Fonts/Roboto_Mono/static/RobotoMono-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url('../Fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto-Light;
  src: url('../Fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rhodium_libre';
  src: url('../Fonts/Rhodium_Libre/RhodiumLibre-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

header {
  background-color: red;
}

.header {
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  color: white;
  font-size: 0.8em;
  font-family: 'Roboto Mono', sans-serif;
}

.header-text {
  width: 310px;
  min-width: 320px;
}

.entries-text {
  min-width: 100px;
}

.intro-text {
  width: 100vw;
  color: red;
  font-size: 1.5em;
  font-family: 'Rhodium_libre', sans-serif;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 30px;
}

.landing-page-row {
  justify-content: center;
  text-align: center;
}

.landing-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: left;
  width: 450px;
}

.inputs {
  display: block;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 15px;
  flex-basis: 100%;
}

.button {
  background-color: red;
  font-family: Roboto-Light, Roboto, sans-serif;
  color: white;
  border-radius: 6px;
  border-color: red;
  padding: 5px;
}

@media screen and (max-width: 442px) {
  .header {
    font-size: 2.5vw;
  }

  .header-text {
    width: 70vw;
    min-width: 70vw;
  }

  .landing-page-row {
    width: 90vw;
  }
}
